<!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img th:src="${session.SPRING_SECURITY_CONTEXT.authentication.principal.avatar}" class="img-circle" alt="User Image"/>
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..."/>
          <span class="input-group-btn">
                <input type="submit" name="search" id="search-btn" class="btn btn-flat"/>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
          <a href="/index">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>

        <li th:each="list: ${listMenu}" class="treeview">
          <!--<a href="javascript:;" th:if="${list.pid==0}">-->
          <a href="javascript:;">
            <i class="fa fa-files-o"></i>
            <span th:text="${list.data.title}"></span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>

          <ul class="treeview-menu">
            <li th:each="listMenuTreeNode : ${list.children}">
              <a th:href="${listMenuTreeNode.data.name}"  >
                <i class="fa fa-circle-o"></i>
                <cite th:text="${listMenuTreeNode.data.title}"></cite>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->