<div class="box box-primary">
            <div class="box-header with-border">
              <a class="close" data-dismiss="modal">×</a>
              <h3 class="box-title">添加管理员</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form id="defaultForm" role="form" method="post" action="./../admin/addsave"  th:object="${userInfo}">
              <div class="box-body">
                <div class="form-group">
                  <label for="username">username</label>
                  <input type="text" name="username" class="form-control" id="username" placeholder="username"/>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"/>
                </div>
                  <div class="form-group">
                  <label for="exampleInputEmail1">email</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="email"/>
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" id="exampleInputFile"/>

                  <p class="help-block">Example block-level help text here.</p>
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <input type="submit" class="btn btn-primary" value="确认"/>
                <!--<a href="#" class="btn btn-success">Call to action</a>-->
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
              </div>
            </form>
          </div>

<script type="text/javascript">
    $(document).ready(function() {
        // Generate a simple captcha
        function randomNumber(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        };
        $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

        $('#defaultForm').bootstrapValidator({
//        live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: '用户名的长度必须大于 6小于 30'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: '用户名必须有字母数字或“_”组成'
                        },
                        remote: {
                            url: '../admin/remote',
                            message: '用户名不可用'
                        },
                        different: {
                            field: 'password',
                            message: '用户名和密码不能相同'
                        }
                    }
                },
                email: {
                    validators: {
                        emailAddress: {
                            message: '请输入正确的EMAIL'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        identical: {
                            field: 'confirmPassword',
                            message: 'The password and its confirm are not the same'
                        },
                        different: {
                            field: 'username',
                            message: '密码和用户名不能相同'
                        }
                    }
                }
            }
        });

        // Validate the form manually
        $('#validateBtn').click(function() {
            $('#defaultForm').bootstrapValidator('validate');
        });

        $('#resetBtn').click(function() {
            $('#defaultForm').data('bootstrapValidator').resetForm(true);
        });
    });
</script>